a.markdown-btn {
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  color: white;
  background-color: $primary;
  border-radius: $border-radius;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none !important;
  border: none;
  cursor: pointer;
  
  &:hover,
  &:active {
    border: 0.1em solid $primary;
    padding: 0.4em 0.9em;
    color: $primary;
    text-decoration: none;
    background-color: var(--primary-color);
  }
}

.md-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
}