 <div class="webpage-wrapper{{ if isset .Params "image-src"}}{{ "screenshot" }}{{ end }}" >
     {{ with .Get "src" }}
    <iframe class="talk" src="{{ . }}" frameborder="0" width="100%" height="100%"></iframe> {{ end }}
     {{ with .Get "image-src" }}
     <image class="screenshot" src={{ . }} width="100%"></image>
     {{ end }}
</div>
<div class="row h-100">
            <div class="col-auto">
                <div class="md-button-container">
                    <a class="markdown-btn" href="{{ .Get "btn-href" }}">
                        <i class="fa-browser"></i> {{ .Get "btn-title" }}
                    </a>
                </div>
            </div>
            <div class="col-auto">
                <div class="md-button-container">
                    <a class="markdown-btn" href="{{ .Get "code-href" }}">
                        <i class="fa fa-code" aria-hidden="true"></i> 
                        Code 
                    </a>
                </div>
            </div>
        </div>