<br>
<div class ="container talk-card">
    <h4>{{ .Get "title" }}</h4>
    <h5>{{ .Get "subtitle" }}</h5>
    <hr>
    {{ with .Get "src" }}
        <div class="iframe-wrapper" >
            <iframe class="talk" src="{{ . }}" frameborder="0" width="100%" 
                height="100%">
            </iframe>
        </div> 
    {{ end }}
    {{ with .Get "youtube-src" }}
        <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
          <iframe src="https://www.youtube.com/embed/{{ . }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen></iframe>
        </div>
    {{ end }}
    {{ with .Get "image-src" }}
        <a href="{{ . }}" class="glightbox"><img class="screenshot" src="{{ . }}" width="100%" loading="lazy" /></a>
    {{ end }}
    <br>
    <h6>Abstract</h6>
    <div class="abstract">
        {{ .Inner | markdownify }}
    </div>
    <div class="project-links">
        {{ with .Get "slides-href" }}
        <a class="markdown-btn project-link" href="{{ . }}" target="_blank" rel="noreferrer">{{ partial "icon.html" "easel" }} Slides</a>
        {{ end }}
        {{ with .Get "rec-href" }}
        <a class="markdown-btn project-link" href="{{ . }}" target="_blank" rel="noreferrer">{{ partial "icon.html" "camera-video" }} Recording</a>
        {{ end }}
        {{ with .Get "code-href" }}
        <a class="markdown-btn project-link" href="{{ . }}" target="_blank" rel="noreferrer">{{ partial "icon.html" "github" }} Source Code</a>
        {{ end }}
        {{ with .Get "doi-href" }}
        <a class="markdown-btn project-link" href="{{ . }}" target="_blank" rel="noreferrer">{{ partial "icon.html" "file-earmark-text" }} {{ $.Get "doi-label" | default "Zenodo" }}</a>
        {{ end }}
    </div>
</div>
